Repository mschweiger/orbiter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xyon, @DarkWanderer, @TheGondos, @jarmonik, @dbeachy1

[ImGui][test]Demo for Graphics dialog
  OVP/D3D9Client/D3D9Config.h
  OVP/D3D9Client/DebugControls.cpp
  OVP/D3D9Client/DebugControls.h
Owners: @jarmonik

[ImGui]Bump version to 1.91.7
  Extern/imgui/CMakeLists.txt
Owners: @DarkWanderer

[ImGui]Rename DialogImGui->ImGuiDialog
  OVP/D3D9Client/DebugControls.cpp
  Orbitersdk/include/GraphicsAPI.h
  Orbitersdk/include/OrbiterAPI.h
  Src/Orbiter/DlgMgr.cpp
  Src/Orbiter/DlgMgr.h
  Src/Orbiter/OrbiterAPI.cpp
  Src/Orbiter/Select.h
Owners: @jarmonik, @Xyon

[ImGui]Move ImGuiDialog from GraphicsAPI.h to OrbiterAPI.h
  Orbitersdk/include/GraphicsAPI.h
  Orbitersdk/include/OrbiterAPI.h
  Src/Orbiter/DlgMgr.cpp
  Src/Orbiter/Select.h
Owners: @Xyon

[ImGui]Handle dialog visibility from Orbiter core
  OVP/D3D9Client/DebugControls.cpp
  Orbitersdk/include/OrbiterAPI.h
  Src/Orbiter/DlgMgr.cpp
  Src/Orbiter/Select.cpp
  Src/Orbiter/Select.h
Owners: @jarmonik, @Xyon

[ImGui]Fix values for the gfx controls
  OVP/D3D9Client/DebugControls.cpp
Owners: @jarmonik

[ImGui]Add SliderFloatReset helper to the core
  OVP/D3D9Client/DebugControls.cpp
  Orbitersdk/include/OrbiterAPI.h
  Src/Orbiter/DlgMgr.cpp
Owners: @jarmonik, @Xyon

[ImGui]Add icon font + helper for 'help'
  Doc/Orbiter User Manual/CREDITS.tex
  Extern/imgui/CMakeLists.txt
  Extern/imgui/IconsFontAwesome6.h
  Extern/imgui/License-FA.txt
  Extern/imgui/fa-solid-900.ttf
  Html/Main/Credit/credit.htm
  Orbitersdk/include/OrbiterAPI.h
  Src/Orbiter/DlgMgr.cpp
Owners: @TheGondos, @DarkWanderer, @Xyon

[ImGui]Example for style customisation
  Src/Orbiter/DlgMgr.cpp
Owners: @Xyon

[ImGui]Add font config option in Orbiter.cfg
  Src/Orbiter/Config.cpp
  Src/Orbiter/Config.h
  Src/Orbiter/DlgMgr.cpp
  Src/Orbiter/Orbiter.cfg.in
Owners: @Xyon

[ImGui]Don't show dialogs on the 'Current State' scenario preview
  Src/Orbiter/Orbiter.cpp
  Src/Orbiter/Orbiter.h
Owners: @Xyon

[ImGui]Add support for notifications
  Orbitersdk/include/OrbiterAPI.h
  Src/Module/LuaScript/LuaInline/LuaInline.cpp
  Src/Module/LuaScript/LuaInterpreter/Interpreter.cpp
  Src/Module/LuaScript/LuaInterpreter/Interpreter.h
  Src/Module/LuaScript/LuaInterpreter/types.lua
  Src/Orbiter/DlgMgr.cpp
  Src/Orbiter/Orbiter.cpp
  Src/Plugin/ScriptMFD/ScriptMFD.cpp
  Src/Vessel/ScriptVessel/ScriptVessel.cpp
Owners: @Xyon

.github/CODEOWNERS:

# This file specifies reviewers which are automatically called in when PR contains specific files, based on file patterns
# Being marked in this file does not imply sole ownership or permissions to merge PRs, but rather familiarity with the topic
# Feel free to PR yourself in
* @Xyon

# Cross-area items
**/CMakeLists.txt @DarkWanderer
**/*.cmake @DarkWanderer
cmake/ @DarkWanderer

# Specific areas
Doc/ @TheGondos
OVP/ @jarmonik
Sound/ @dbeachy1
Tests/ @DarkWanderer
